In [21]:
import pandas as pd;
import datetime

# print(pd.__version__)

In [24]:
pd.Series(pd.period_range("1/1/2011", freq="M", periods=3))
pd.date_range(start='2024-03-03', end='2024-04-01', freq='W')

DatetimeIndex(['2024-03-03', '2024-03-10', '2024-03-17', '2024-03-24',
               '2024-03-31'],
              dtype='datetime64[ns]', freq='W-SUN')

In [34]:
rng = pd.date_range("3/6/2012 00:00", periods=15, freq="D", tz='America/New_York')
# rng.tz is None
rng

DatetimeIndex(['2012-03-06 00:00:00-05:00', '2012-03-07 00:00:00-05:00',
               '2012-03-08 00:00:00-05:00', '2012-03-09 00:00:00-05:00',
               '2012-03-10 00:00:00-05:00', '2012-03-11 00:00:00-05:00',
               '2012-03-12 00:00:00-04:00', '2012-03-13 00:00:00-04:00',
               '2012-03-14 00:00:00-04:00', '2012-03-15 00:00:00-04:00',
               '2012-03-16 00:00:00-04:00', '2012-03-17 00:00:00-04:00',
               '2012-03-18 00:00:00-04:00', '2012-03-19 00:00:00-04:00',
               '2012-03-20 00:00:00-04:00'],
              dtype='datetime64[ns, America/New_York]', freq='D')

In [38]:
rng_hourly = pd.DatetimeIndex(["11/06/2011 00:00", "11/06/2011 01:00", "11/06/2011 01:00", "11/06/2011 02:00"])
rng_hourly
# rng_hourly.tz_localize('US/Eastern')

DatetimeIndex(['2011-11-06 00:00:00', '2011-11-06 01:00:00',
               '2011-11-06 01:00:00', '2011-11-06 02:00:00'],
              dtype='datetime64[ns]', freq=None)

In [39]:
rng_hourly.tz_localize("US/Eastern", ambiguous="infer")

DatetimeIndex(['2011-11-06 00:00:00-04:00', '2011-11-06 01:00:00-04:00',
               '2011-11-06 01:00:00-05:00', '2011-11-06 02:00:00-05:00'],
              dtype='datetime64[ns, US/Eastern]', freq=None)

In [79]:
# https://www.youtube.com/watch?v=SEc-aezUIaI
from pytz import timezone
from datetime import datetime

time_format = '%d-%m-%Y %H:%M'

now = datetime.now()
print(now)

now = datetime.now().strftime(time_format)
print(now)

my_tz = ['US/Eastern', 'US/Central', 'Europe/London', 'Europe/Paris', 'UTC']

for zone in my_tz:
  my_date_time = datetime.now(timezone(zone)).strftime(time_format)
  print(zone, ': ', my_date_time)

2024-03-20 18:09:48.931982
20-03-2024 18:09
US/Eastern :  20-03-2024 18:09
US/Central :  20-03-2024 17:09
Europe/London :  20-03-2024 22:09
Europe/Paris :  20-03-2024 23:09
UTC :  20-03-2024 22:09